<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rock-paper-scissors">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="api">
      <ion-icon name="library"></ion-icon>
      <ion-label>API</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="git-hub-search">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>Search you own GitHub!</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
