<ion-content>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password"></ion-input>
        </ion-item>

        <ion-button class="w-100">
          Login
        </ion-button>

        <ion-item>
          <ion-button color="light">
            forgot your password?
          </ion-button>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>