<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h1>Este es mi home!</h1>

<p>La verdad no se que poner de descripcion para la que es mi pagina principal.</p>

<button class="btn btn-danger w-100" (click)="presentAlert()">Click Me</button>
<ion-card>
  <img class="w-100" alt="image of a orange cat" src="../../../assets/img/gatito.jpg" />
  <ion-card-header>
    <ion-card-title>Titulo de la card</ion-card-title>
    <ion-card-subtitle>Subtitulo</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    La descripcion es que queria hacer un card a la vez que probar como funciona boostrap en ionic, y utilize la foto de un gatito :D.
  </ion-card-content>
</ion-card>



</ion-content>
